body{
  margin: 10px;
}
.main-container{
  text-align: center;
}
.game-box{
  height: 160px;
  /* width: 160px; */
  /* background: orange; */
  color:black;
  font-size: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  cursor: pointer;
}
.game-box:hover{
  background:rgb(196, 215, 241);
}

.board{
  /* background:pink; */
  display: grid;
  /* grid-template-columns:1fr 1fr 1fr; */
  grid-template-columns:repeat(3, 1fr);
  max-width:800px;
  margin: 4px auto;
  
}
h1{
  color:crimson;
  text-align: center;
  font-size: 50px;
  margin: 0;
}
h2{
  margin: 0;
  font-size: 40px;
  color: rgb(235, 33, 174);
}
h3{
  font-size: 40px;
  text-align: center;
  color: rgb(129, 77, 232);
  margin: 0;
}